<html>
    <head>
      <title>Ling's blog</title>
    </head>
    <body>
      <div>
        <h1>Ling's blog</h1>
      </div>

      <div>
        <p>Published 5 August 2017</p>
        <h3><a href="">My first post</a></h3>
        <p>This is the first page. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
        veneatis vestibulum.</p>
      </div>

      <div>
        <p>Published 5 August 2017</p>
        <h3><a href="">My second post</a></h3>
        <p>This is the first page. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
        veneatis vestibulum.</p>
      </div>
    </body>
</html>
